<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>GetParameters</servlet-name>
        <servlet-class>Chapter_37.GetParameters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeForm</servlet-name>
        <servlet-class>Chapter_37.TimeForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>Chapter_37.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpleRegistration</servlet-name>
        <servlet-class>Chapter_37.SimpleRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlettt</servlet-name>
        <servlet-class>Chapter_37.NewServlettt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>Chapter_37.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationWithCookie</servlet-name>
        <servlet-class>Chapter_37.RegistrationWithCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationWithHttpSession</servlet-name>
        <servlet-class>Chapter_37.RegistrationWithHttpSession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetParameters</servlet-name>
        <url-pattern>/GetParameters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeForm</servlet-name>
        <url-pattern>/TimeForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpleRegistration</servlet-name>
        <url-pattern>/SimpleRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlettt</servlet-name>
        <url-pattern>/NewServlettt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationWithCookie</servlet-name>
        <url-pattern>/RegistrationWithCookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationWithHttpSession</servlet-name>
        <url-pattern>/RegistrationWithHttpSession</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>DBLogin.html</welcome-file>
        
        <!-- Specify the default HTML file -->
    </welcome-file-list>
</web-app>
